@import "button.css";
@import "fonts.css";
@import "alert.css";
@import "input.css";
@import "form.css";
@import "header.css";
@import "layout.css";
@import "copy-box.css";
@import "table.css";
@import "img.css";

.mobile-only {
    display: none;
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}

html {
    background-color: var(--bg-default);
}

body {
    background-color: transparent;
    font-family: var(--font-body);
    color: var(--text-primary);
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden; 
    height: 100vh;    
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    :root {
        --mobile-header-height: 110px;
    }
}

[hidden] {
    display: none !important;
}

[data-theme="dark"] .invert-on-dark {
    filter: invert(1);
}


h2{
    font-family: var(--font-heading);
    
}

.text_limit {
    width: 55ch
}

footer {
    border-top: 0.125rem solid var(--border-default);
    margin-top: var(--spacing-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    gap: var(--spacing-12);
}