@import "button.css";
@import "fonts.css";
@import "alert.css";
@import "input.css";
@import "form.css";
@import "header.css";
@import "layout.css";
@import "copy-box.css";
@import "table.css";
@import "img.css";

.mobile-only {
    display: none;
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}

html {
    background-color: var(--bg-default);
}

body {
    background-color: transparent;
    font-family: var(--font-body);
    color: var(--text-primary);
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

@media (max-width: 768px) {
    :root {
        --mobile-header-height: 110px;
    }
}

[hidden] {
    display: none !important;
}

[data-theme="dark"] .invert-on-dark {
    filter: invert(1);
}