@import "button.css";
@import "font.css";
@import "alert.css";
@import "input.css";
@import "form.css";
@import "variables.css";
@import "copy-box.css";


*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background-color: var(--bg-default);
    font-family: var(--font-body);
    margin: 0;
    padding: 0.625rem 0.625rem 0 0.625rem;
    min-height: 100%;
}

@media (max-width: 768px) {
    :root {
        --mobile-header-height: 110px;
    }
}

[hidden] {
    display: none !important;
h2{
    font-family: var(--font-heading);
    
}

.text_limit {
    width: 45ch
}

footer {
    border-top: 0.125rem solid var(--border-default);
    margin-top: var(--spacing-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    gap: var(--spacing-12);
}

@media (min-width: 768px) {

}